@import '../variables/variable.scss';

#fonction {
    height: 392px;
    width: 100%;

    h2 {
        margin: 48px 0 26px 20px;
    }

    .fonction__list {
        display: flex;
        flex-direction: column;

        .fonction__list__element {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 24px;
            height: 72px;

            .fonction__list__element__nombre {
                background-color: $purple;
                color: white;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                position: absolute;
                left: 20px;
            }

            .fonction__list__button {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row; 
                background-color: $second-lightgrey;
                width: 100%;
                margin: 0 32px;
                height: 72px;  
                border-radius: 20px; 
                box-shadow: 0px 4px 15px 0px #00000026;

                .fonction__list__button__content {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;

                    i {
                        color: $hard-grey;
                        margin-left: 32px;
                    }

                    p {
                        font-weight: 500;
                        margin-left: 27px;
                    }
                }

                &:hover {
                    i {
                        color: $purple;
                    }
                }  
            }
        }
    }


}