@import '../variables/variable.scss';

#intro {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    .location {
        background-color: $light-grey;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;
        position: relative;

        i {
            color: $light-black;
            margin-right: 20px;
        }

        input {
            border: none;
            background-color: transparent;
            width: 109px;
            font-size: 16px;

            &::placeholder {
                color: $light-black;
            }
        }
    }
    #reservation {
        background-color: $second-lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 287px;

        .reservation__titre {
            font-weight: 700;
            margin: 39px 50px 0 50px;
        }

        .reservation__texte {
            font-weight: 300;
            font-size: 18px;
            margin: 11px 30px 0 30px;
            color: $light-black;
        }

        button {
            background: linear-gradient(#9356DC, #FF79DA);
            height: 50px;
            width: 218px;
            color: white;
            border: none;
            border-radius: 25px;
            font-size: 16px;
            box-shadow: 0px 4px 10px 0px #00000040;
            margin-top: 31px;
            cursor: pointer;

            &:hover {
                background: linear-gradient(#9256dcbc, #FF79DAbc);
            }
        }
    }
}