@import '../abstracts/variable';

/*SCSS INTRO DEBUT*/

#intro {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    .location {
        background-color: $light-grey;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;
        position: relative;

        i {
            color: $light-black;
            margin-right: 20px;
        }

        input {
            border: none;
            background-color: transparent;
            width: 109px;
            font-size: 16px;

            &::placeholder {
                color: $light-black;
            }
        }
    }
    #reservation {
        background-color: $second-lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 250px;

        .reservation__titre {
            font-weight: 700;
            margin-top: 39px;
        }

        .reservation__texte {
            font-weight: 300;
            font-size: 18px;
            margin-top: 11px;
            color: $light-black;
        }
    }
}

/*SCSS INTRO FIN*/

/*SCSS FONCTION DEBUT*/

#fonction {
    height: 392px;
    width: 100%;

    h2 {
        margin: 48px 0 26px 20px;
    }

    .fonction__list {
        display: flex;
        flex-direction: column;

        .fonction__list__element {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 24px;
            height: 72px;

            .fonction__list__button {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row; 
                background-color: $second-lightgrey;
                width: 100%;
                margin: 0 32px;
                height: 72px;  
                border-radius: 20px; 
                box-shadow: 0px 4px 15px 0px #00000026;

                .fonction__list__button__content {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;

                    .fonction__list__element__nombre {
                        background-color: $purple;
                        color: white;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 25px;
                        margin-left: -15px;
                        left: 20px;
                    }

                    i {
                        color: $hard-grey;
                        margin-left: 32px;
                    }

                    p {
                        font-weight: 500;
                        margin-left: 27px;
                        padding-right: 05px;
                    }
                }

                &:hover {
                    i {
                        color: $purple;
                    }
                }  
            }
        }
    }

    @media (min-width: 425px) {

        .fonction__list {
            .fonction__list__element {
                .fonction__list__button {
                    width: 325px;    
                }    
            }
        }
    }

    @media (min-width: 1024px) {

        max-width: 1053px;
        height: 250px;

        .fonction__list {
            flex-direction: row;
            .fonction__list__element{
                .fonction__list__button {
                    width: 100%;
                }
            }
        }
    }
}

/*SCSS FONCTION FIN*/

/*SCSS RESTAURANT DEBUT*/

#restaurants {
    height: 1226px;
    width: 100%;
    background-color: $second-lightgrey; 
    margin-left: 20px; 
    margin-right: 20px; 
    
    @media (min-width: 1024px) {
        display: flex;//
        justify-content: center;//
        height: 700px;      
    }

    .swag {
        max-width: 1053px;
    }
    
    a {
        text-decoration: none;

        @media (min-width: 1024px) {
            width: 50%;
            margin-bottom: 25px;         
        }
    }

    h2 {
        padding: 48px 0 26px 20px;
        max-width: 1053px;
    }

    .restaurants__list {

        @media (min-width: 1024px) {
            display: flex;//
           justify-content: space-between;//          
        }
        
        width: 100%;
        flex-wrap: wrap;

        .restaurants__card {
            margin: 0 18px 18px 18px;
            display: grid;
            grid-template-columns: 80% 1fr;
            grid-template-rows: 70% 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            background-color: white;
            box-shadow: 0px 4px 15px 0px #0000001A;
            border-radius: 15px;
            height: 248px;
            z-index: 2;

            img {
                object-fit: cover;
                box-sizing: border-box;
                width: 100%;
                height: 174px;
                border-radius: 15px 15px 0 0;
                grid-area: 1 / 1 / 2 / 3;
            }

            .restaurants__card__nouveau {
                color: $vert-fonce;
                background-color: $vert-clair;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 15px;
                font-size: 14px;
                font-weight: 500;
                height: 29px;
                border-radius: 2px;
                padding: 0 9px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
                margin-right: 15px;
                margin-top: 13px;
                grid-area: 1 / 2 / 2 / 3;
            }

            .card-txt {
                grid-area: 2 / 1 / 3 / 2;

                .restaurants__card__title {
                    padding-top: 16px;
                    font-size: 18px;
                    font-weight: 700;
                    color: black;
                    padding-left: 13px;
                }
    
                .restaurants__card__subtitle {
                    padding-top: 5px;
                    font-size: 17px;
                    font-weight: 300;
                    color: black;
                    padding-left: 13px;
                }
            }

            .card__heart {
                grid-area: 2 / 2 / 3 / 3;
                display: flex;
                align-items: center;
                
                .heart--normal,
                .heart--full,
                input {
                    color: black;
                    position: absolute;
                    right: 42px;
                    font-size: 22px;
                    z-index: 20;
                }
            }
        }
    }
}

/*SCSS RESTAURANT FIN*/